.search-form {
    box-sizing: border-box;

}
.search-form hr {
    border: .5px solid hsl(0, 0%, 94%);
}
.search-form label {
    width: 100%;
}
.search-form input {
    width: 100%;
}
.search-form select {
    width: 100%;
}
.search-form button {

}